<div class="row justify-content-center">
    <div class="col-10 bg-dark text-center my-2 py-4">
        <p>点进来的未名市律师们你们好呀<(￣▽￣)/，这里是牛叉叉牌工具箱的作者。</p>
        <p>由于异乡行歌（上）这个活动蛮让人长草的，加上我没找到其他类似功能的app，所以就自己搓了一个，希望能帮到各位律师~</p>
        <p>此计算器所使用的数据，素材均为我个人从网上搜刮而来。由于是人肉录入，所以可能会有不准确的数据。我发现了会立刻修改过来。</p>
        <p>如果你发现错误的数据，或者是想给本计算器提意见，请通过本唯一指定邮箱联系我：</p>
        <p>aleafwolf@outlook.com</p>
        <p>祝大家生活愉快，也祝未定事件簿越办越好，长长久久，苟过崩崩！</p>
        <p>P.S. 用Github的律师可以给这个<a href="https://github.com/ALeafWolf/NXX-Toolbox" target="_blank">repo</a>一个star嘛owo</p>
        <img class="img-fluid" style="max-width: 207px; max-height: 263px;" src="assets/images/初代.png">
    </div>
</div>
