<button class="btn btn-dark" (click)="toTopOfScreen()" id="toTopButton" title="Go to top">
    <img class="img-fluid cardIcon" id="topBtn" src="{{'assets/images/btn_arrow.png'}}">
</button>
<div *ngIf="isLoaded == false" class="loader">
    <div class="spinner-border text-light" role="status">
        <span class="sr-only mx-auto">Loading...</span>
    </div>
</div>

<div class="row justify-content-center">
    <div *ngIf="lang == 'EN'" class="col-10 text-center bg-dark p-4 my-2">
        <p>The information of card that not being implemented in International server will remain in Chinese</p>
    </div>
</div>
<div class="row justify-content-center p-2">
    <div class="col-12 col-md-10 row justify-content-around m-2">
        <div class="col">
            <label for="character">角色</label>
            <select [(ngModel)]="filterConditions[0]" (ngModelChange)="filterCards()" class="custom-select"
                name="character">
                <option value="All">All</option>
                <option value="夏彦">夏彦</option>
                <option value="左然">左然</option>
                <option value="莫弈">莫弈</option>
                <option value="陆景和">陆景和</option>
            </select>
        </div>
        <div class="col">
            <label for="rarity">稀有度</label>
            <select [(ngModel)]="filterConditions[1]" (ngModelChange)="filterCards()" class="custom-select"
                name="rarity">
                <option value="All">All</option>
                <option value="R">R</option>
                <option value="MR">MR</option>
                <option value="SR">SR</option>
                <option value="SSR">SSR</option>
            </select>
        </div>
        <div class="col">
            <label for="type">属性</label>
            <select [(ngModel)]="filterConditions[2]" (ngModelChange)="filterCards()" class="custom-select" name="type">
                <option value="All">All</option>
                <option value="逻辑">逻辑</option>
                <option value="共情">共情</option>
                <option value="直觉">直觉</option>
            </select>
        </div>
        <div class="col">
            <label for="type">获取方式</label>
            <select [(ngModel)]="filterConditions[3]" (ngModelChange)="filterCards()" class="custom-select" name="type">
                <option value="All">All</option>
                <option value="常驻">常驻</option>
                <option value="轮替">轮替</option>
                <option value="累计充值">累计充值</option>
                <option value="主线思绪残影">主线思绪残影</option>
                <option value="活动">活动</option>
                <option value="活动（限定）">活动（限定）</option>
            </select>
        </div>
        <div class="col-1">
            <a (click)="resetFilters()">
                <img src="assets/images/btn_reset.png">
            </a>
        </div>
    </div>
    <div class="col-12 col-md-10 my-2">
        <table class="table table-sm table-dark text-center">
            <thead>
                <tr>
                    <th>头像</th>
                    <th>名称</th>
                    <th>稀有度</th>
                    <th class="d-none d-sm-table-cell">属性</th>
                    <th>技能</th>
                    <th>获取方式</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of cards">
                    <td>
                        <a [routerLink]="['/card-value/', c.char, c.n]" routerLinkActive="active" target="_blank">
                            <img class="img-fluid cardIcon"
                                src="{{'assets/images/' + c.character + '/' + c.id + '.webp'}}">
                        </a>
                    </td>
                    <td>
                        <a [routerLink]="['/card-value/', c.char, c.n]" routerLinkActive="active" target="_blank">
                            {{c.name}}
                        </a>
                    </td>
                    <td>{{c.rarity}}</td>
                    <td class="d-none d-sm-table-cell">
                        <img class="img-fluid icon" src="{{'assets/images/' + c.type + '.png'}}">
                    </td>
                    <td>
                        <span *ngFor="let s of c.skills">
                            <a [routerLink]="['/skill', s]" routerLinkActive="active" target="_blank">
                                <img class="img-fluid icon" src="{{'assets/images/技能/' + removePostfix(s) + '.webp'}}">
                            </a>
                        </span>
                    </td>
                    <td>
                        <span class="smallFont" *ngFor="let o of c.obtainedFrom">
                            {{o}}<br />
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>