<div class="row py-4 justify-content-center">
    <table class="col-10 col-md-8 col-lg-6 table table-sm table-dark p-2 text-center">
        <tr>
            <th colspan="10">
                {{skillName}}
            </th>
        </tr>
        <tr>
            <td colspan="10">
                <img class="img-fluid" src="{{'assets/images/技能/' + skill.id + '.png'}}">
            </td>
        </tr>
        <tr>
            <th colspan="10">技能描述</th>
        </tr>
        <tr>
            <td colspan="10">{{skillDes}}</td>
        </tr>
        <tr>
            <th colspan="10">技能等级</th>
        </tr>
        <tr>
            <th class="smallFont" *ngFor="let s of skillStatistic">Lv{{skillStatistic.indexOf(s) + 1}}</th>
        </tr>
        <tr>
            <td class="smallFont" *ngFor="let s of skillStatistic">{{s}}</td>
        </tr>
        <tr>
            <th colspan="10">相关思绪</th>
        </tr>
        <tr>
            <td colspan="10">
                <span *ngIf="cards.length != 0; else noCard">
                    <span class="m-2" *ngFor="let c of cards">
                        <a [routerLink]="['/card-value/', c.character, c.id]">
                            <img class="img-fluid cardIcon" src="{{'assets/images/' + c.character + '/' + c.id + '.webp'}}"
                                alt="{{c.name}}">
                        </a>
                    </span>
                </span>
                <ng-template #noCard>
                    <p>N/A</p>
                </ng-template>
            </td>
        </tr>
    </table>
</div>