<div class="row py-2">
    <a class="col-md-1 col-2" routerLink="/">
        <img class="img-fluid" src="../../assets/images/back2_btm1.png">
        返回
    </a>
    <h2 class="col">{{charName}} - {{cardName}}</h2>
    <a class="col-md-1 col-2" routerLink="/">
        <img class="img-fluid" src="../../assets/images/trash2-50.png">
        删除
    </a>
</div>
<div class="row justify-content-center">
    <div class="col-4 col-lg-3 col-xl-2">
        <img class="img-fluid" src="../../assets/images/左然/心有千千结-full.png">
    </div>
    <div class="col-8 col-lg-7">
        <div class="row justify-content-center">
            <div class="col-4 col-md-3">
                <select class="custom-select" id="inputGroupSelect01">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="col-6">
                以退为进β<br />使对方防御力降低9%
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 col-md-3">
                <select class="custom-select" id="inputGroupSelect01">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="col-6">
                以退为进β<br />使对方防御力降低9%
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 col-md-3">
                <select class="custom-select" id="inputGroupSelect01">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="col-6">
                以退为进β<br />使对方防御力降低9%
            </div>
        </div>
        <div class="row justify-content-center">
            <table class="table table-dark table-striped col-8 text-center">
                <thead>
                    <th>材料</th>
                    <th>数量</th>
                </thead>
                <tbody>
                    <tr>
                        <td><img class="img-fluid" src="../../assets/images/btn_coin_s.png"></td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>一级技能材料1</td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>一级技能材料2</td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>二级技能材料1</td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>一级技能材料2</td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>三级技能材料1</td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>三级技能材料2</td>
                        <td>3000</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>