<div class="row justify-content-center">
    <div class="col-7 col-sm-6 col-lg-4">
        <div class="col-12 row py-2">
            <a class="col-3" [routerLink]="['/card-value', char, id]">
                <img class="img-fluid" src="assets/images/btn_ok.png">
            </a>
            <a class="col-3" routerLink="/">
                <img class="img-fluid" src="assets/images/btn_delete.png">
            </a>
        </div>
        <div class="col-12 row justify-content-center">
            <table class="table table-sm table-dark text-center" style="color: white;">
                <tr>
                    <th colspan="3">
                        思绪面板
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        等级
                    </th>
                    <td>
                        100
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        说服力
                    </th>
                    <td>
                        {{card.attack}}
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        防御力
                    </th>
                    <td>
                        {{card.defence}}
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        星级
                    </th>
                    <td>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <th colspan="3">
                        技能
                    </th>
                </tr>
                <tr *ngFor="let s of card.skills">
                    <td colspan="2">
                        {{s}}<br />使对方防御力降低9%
                    </td>
                    <td>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th colspan="3">升级材料消耗</th>
                </tr>
                <tr>
                    <td><img class="icon" src="assets/images/btn_coin_s.png"></td>
                    <td colspan="2">0</td>
                </tr>
                <tr>
                    <td><img class="icon" src="assets/images/材料/共情印象I.png"></td>
                    <td><img class="icon" src="assets/images/材料/钢笔.png"></td>
                    <td><img class="icon" src="assets/images/材料/平板电脑.png"></td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td><img class="icon" src="assets/images/材料/共情印象II.png"></td>
                    <td><img class="icon" src="assets/images/材料/领带夹.png"></td>
                    <td><img class="icon" src="assets/images/材料/蓝宝石袖扣.png"></td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td><img class="icon" src="assets/images/材料/共情印象III.png"></td>
                    <td><img class="icon" src="assets/images/材料/手枪模型.png"></td>
                    <td><img class="icon" src="assets/images/材料/高级律师徽章.png"></td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-5 col-md-4 col-xl-3 text-center">
        <h4 class="my-3">{{char}} - {{id}}</h4>
        <div class="bg-dark p-2">
            <img class="img-fluid" src="{{'assets/images/' + card.type + '.png'}}">
            战力 9000
        </div>
        <img class="img-fluid" src="{{'assets/images/' + char + '/' + id + '-full.png'}}">
    </div>
</div>