<div *ngIf="isLoaded == false" class="loader">
    <div class="spinner-border text-light" role="status">
        <span class="sr-only mx-auto">Loading...</span>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 row">
        <div class="col-6 col-md-4 row py-2">
            <div class="col-12 row py-2 justify-content-center">
                <a class="col-4 btn" routerLink="/card-calculator" (click)="saveUserData()">
                    <img class="img-fluid" src="assets/images/btn_ok.png">
                </a>
                <a class="col-4 btn" routerLink="/card-calculator" (click)="deleteUserData()">
                    <img class="img-fluid" src="assets/images/btn_delete.png">
                </a>
            </div>
        </div>
        <h4 class="col col-md-4 my-3 text-center">{{char}} - {{id}}</h4>
    </div>
    
    <div class="col-5 col-md-6 row justify-content-around">
        <div class="col-12 col-sm-11 col-md-7 col-lg-5 mb-1">
            <div class="bg-dark text-center py-2">
                <img class="img-fluid icon" src="{{'assets/images/' + card.type + '.png'}}">
                <span style="font-size: 1.1em; padding-left: 1em;">{{power}}</span>
            </div>
            <img class="img-fluid" src="{{'assets/images/' + char + '/' + id + '-full.webp'}}">
        </div> 
        <table class="col-10 col-md-7 col-lg-4 table table-sm table-dark text-center smallFont" style="color: white;">
            <tr>
                <th colspan="3">技能升级材料消耗</th>
            </tr>
            <tr>
                <td><img class="icon" src="assets/images/btn_coin_s.png"></td>
                <td colspan="2">{{coin}}</td>
            </tr>
            <tr>
                <td><img class="icon" src="{{'assets/images/材料/' + card.type + '印象I.png'}}"></td>
                <td><img class="icon" src="{{'assets/images/材料/' + charRssGroup[0] + '.png'}}"></td>
                <td><img class="icon" src="{{'assets/images/材料/' + charRssGroup[1] + '.png'}}"></td>
            </tr>
            <tr>
                <td>{{rss[0]}}</td>
                <td>{{rss[1]}}</td>
                <td>{{rss[1]}}</td>
            </tr>
            <tr>
                <td><img class="icon" src="{{'assets/images/材料/' + card.type + '印象II.png'}}"></td>
                <td><img class="icon" src="{{'assets/images/材料/' + charRssGroup[2] + '.png'}}"></td>
                <td><img class="icon" src="{{'assets/images/材料/' + charRssGroup[3] + '.png'}}"></td>
            </tr>
            <tr>
                <td>{{rss[2]}}</td>
                <td>{{rss[3]}}</td>
                <td>{{rss[3]}}</td>
            </tr>
            <tr>
                <td><img class="icon" src="{{'assets/images/材料/' + card.type + '印象III.png'}}"></td>
                <td><img class="icon" src="{{'assets/images/材料/' + charRssGroup[4] + '.png'}}"></td>
                <td><img class="icon" src="{{'assets/images/材料/' + charRssGroup[5] + '.png'}}"></td>
            </tr>
            <tr>
                <td>{{rss[4]}}</td>
                <td>{{rss[5]}}</td>
                <td>{{rss[5]}}</td>
            </tr>
        </table>
    </div>

    <div class="col-7 col-md-6 row justify-content-around text-center">
        <table class="col-12 col-lg-4 table table-sm table-dark text-center" style="color: white;">
            <tr>
                <th>稀有度</th>
                <td>{{card.rarity}}</td>
            </tr>
            <tr>
                <th>
                    等级
                </th>
                <td>
                    {{lv}}
                </td>
            </tr>
            <tr>
                <th>
                    基础说服力
                </th>
                <td>
                    {{att}}
                </td>
            </tr>
            <tr>
                <th>
                    基础防御力
                </th>
                <td>
                    {{def}}
                </td>
            </tr>
            <tr>
                <th>
                    星级
                </th>
                <td>
                    <select [(ngModel)]="star" (ngModelChange)="updatePower()">
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                    </select>
                </td>
            </tr>
        </table>
        <table class="col-12 col-lg-6 table table-sm table-dark text-center" style="color: white;">
            <thead>
                <tr>
                    <th colspan="3">
                        技能
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let s of card.skills">
                <tr>
                    <td rowspan="2">
                        <a [routerLink]="['/skill', s]" target="_blank">
                            <img class="icon"
                                src="{{'assets/images/技能/' + s.id + '.webp'}}">
                        </a>
                    </td>
                    <td colspan="2">
                        <a [routerLink]="['/skill', s]" target="_blank">
                            {{s.n}}
                        </a>
                    </td>

                    <td rowspan="2">
                        <select [(ngModel)]="skills[card.skills.indexOf(s)]" (ngModelChange)="updateData()">
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                            <option value=6>6</option>
                            <option value=7>7</option>
                            <option value=8>8</option>
                            <option value=9>9</option>
                            <option value=10>10</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="smallFont">{{skillsInfo[card.skills.indexOf(s)]}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>