<div class="row p-2">
    <div class="col-12 row m-2">
        <a class="col-md-1 col-2" routerLink="/">
            <img class="img-fluid" src="../../assets/images/back2_btm1.png">
        </a>
        <div class="col">
            <label for="character">角色</label>
            <select class="custom-select" name="character">
                <option value="All" selected>All</option>
                <option value="夏彦">夏彦</option>
                <option value="左然">左然</option>
                <option value="莫弈">莫弈</option>
                <option value="陆景和">陆景和</option>
            </select>
        </div>
        <div class="col">
            <label for="rarity">稀有度</label>
            <select class="custom-select" name="rarity">
                <option value="All" selected>All</option>
                <option value="R">R</option>
                <option value="MR">MR</option>
                <option value="SR">SR</option>
                <option value="SSR">SSR</option>
            </select>
        </div>
        <div class="col">
            <label for="type">属性</label>
            <select class="custom-select" name="type">
                <option value="All" selected>All</option>
                <option value="夏彦">逻辑</option>
                <option value="左然">共情</option>
                <option value="莫弈">直觉</option>
            </select>
        </div>
    </div>
    <div class="col-12 row justify-content-around mt-4">
        <div class="col-3 col-md-2 my-1" *ngFor="let c of cards">
            <a [routerLink]="['/card-value-setting/', c.character, c.id]" routerLinkActive="active">
                <img class="img-fluid" src="{{'../../assets/images/' + c.character + '/' + c.id + '.png'}}">
            </a>
        </div>
</div>