<div class="row pt-2">
    <div class="col-12 row justify-content-end m-2">
        <div class="bg-dark px-2 py-1">
            <h4>战力 150000</h4>
        </div>
    </div>
    <div class="col-12 row justify-content-around">
        <div class="col-3 col-md-2">
            <a [routerLink]="['/card-value/左然/心有千千结']" routerLinkActive="active">
                <img class="img-fluid" src="../../assets/images/左然/心有千千结.png">
            </a>
        </div>
        <div class="col-3 col-md-2">
            <a routerLink="/card-value/莫弈/松雪童话" routerLinkActive="active">
                <img class="img-fluid" src="../../assets/images/莫弈/松雪童话.png">
            </a>
        </div>
        <div class="col-3 col-md-2">
            <a routerLink="/card-value/夏彦/荧荧眸光" routerLinkActive="active">
                <img class="img-fluid" src="../../assets/images/夏彦/荧荧眸光.png">
            </a>
        </div>
        
        <div class="col-3 col-md-2">
            <a routerLink="/card-value/陆景和/琥珀昙华" routerLinkActive="active">
                <img class="img-fluid" src="../../assets/images/陆景和/琥珀昙华.png">
            </a>
        </div>
        <div class="col-3 col-md-2">
            <a routerLink="/card-selection" routerLinkActive="active">
                <img class="img-fluid" src="../../assets/images/boxgacha_icon_frame_1.png">
            </a>
        </div>
        <div class="col-3">
            <a routerLink="/card-selection" routerLinkActive="active">
                <img class="img-fluid" src="../../assets/images/boxgacha_icon_frame_1.png">
            </a>
        </div>
        <div class="col-3">
            <a routerLink="/card-selection" routerLinkActive="active">
                <img class="img-fluid" src="../../assets/images/boxgacha_icon_frame_1.png">
            </a>
        </div>
        <div class="col-3">
            <a routerLink="/card-selection" routerLinkActive="active">
                <img class="img-fluid" src="../../assets/images/boxgacha_icon_frame_1.png">
            </a>
        </div>
        <div class="col-3">
            <a routerLink="/card-selection" routerLinkActive="active">
                <img class="img-fluid" src="../../assets/images/boxgacha_icon_frame_1.png">
            </a>
        </div>
    </div>
</div>