<div class="row justify-content-center">
    <div class="col-10 row bg-dark justify-content-center my-2 py-4">
        <h3>牛叉叉牌战力计算器，用过都说好！</h3>
        <img class="img-fluid" style="max-width: 200px; max-height: auto;" src="assets/images/初代.png">
        <div class="col-12 text-center">
            <h4>网站目前还在建设中，目前已实装的功能有：</h4>
            <p>思绪选择界面的筛选<br/>思绪的战力，基础说服力和基础防御力计算<br/>技能列表总览及筛选</p>
            <h4>
                待实装的功能：
            </h4>
            <p>技能所属于的思绪总结界面<br/>i18n（坐等其他服的文本出来）<br/>搓个该计算器使用的数据的api？</p>
        </div>
    </div>
</div>