<div class="row justify-content-center">    
    <div class="col-7 col-sm-6 col-lg-4">
        <div class="col-12 row py-2">
            <a class="col-3" routerLink="/card-calculator">
                <img class="img-fluid" src="assets/images/back2_btm1.png">
            </a>
            <a class="col-3" [routerLink]="['/card-value-setting', char, id]">
                <img class="img-fluid" src="assets/images/btn_edit.png">
            </a>
        </div>
        <div class="col-12 row justify-content-center">
            <table class="table table-sm table-dark text-center" style="color: white;">
                <tr>
                    <th colspan="3">
                        思绪面板
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        等级
                    </th>
                    <td>
                        100
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        基础说服力
                    </th>
                    <td>
                        {{att}}
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        基础防御力
                    </th>
                    <td>
                        {{def}}
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        星级
                    </th>
                    <td>
                        {{star}}
                    </td>
                    
                </tr>
                <tr>
                    <th colspan="3">
                        技能
                    </th>
                </tr>
                <tr *ngFor="let s of card.skills">
                    <td colspan="2">
                        {{s}}<br />{{skillsInfo[card.skills.indexOf(s)]}}
                    </td>
                    <td>
                        {{skills[card.skills.indexOf(s)]}}
                    </td>
                </tr>
                <tr>
                    <th colspan="3">升级材料消耗</th>
                </tr>
                <tr>
                    <td><img class="icon" src="assets/images/btn_coin_s.png"></td>
                    <td colspan="2">{{coin}}</td>
                </tr>
                <tr>
                    <td><img class="icon" src="{{'assets/images/材料/' + card.type + '印象I.png'}}"></td>
                    <td><img class="icon" src="{{'assets/images/材料/' + charRssGroup[0] + '.png'}}"></td>
                    <td><img class="icon" src="{{'assets/images/材料/' + charRssGroup[1] + '.png'}}"></td>
                </tr>
                <tr>
                    <td>{{rss[0]}}</td>
                    <td>{{rss[1]}}</td>
                    <td>{{rss[1]}}</td>
                </tr>
                <tr>
                    <td><img class="icon" src="{{'assets/images/材料/' + card.type + '印象II.png'}}"></td>
                    <td><img class="icon" src="{{'assets/images/材料/' + charRssGroup[2] + '.png'}}"></td>
                    <td><img class="icon" src="{{'assets/images/材料/' + charRssGroup[3] + '.png'}}"></td>
                </tr>
                <tr>
                    <td>{{rss[2]}}</td>
                    <td>{{rss[3]}}</td>
                    <td>{{rss[3]}}</td>
                </tr>
                <tr>
                    <td><img class="icon" src="{{'assets/images/材料/' + card.type + '印象III.png'}}"></td>
                    <td><img class="icon" src="{{'assets/images/材料/' + charRssGroup[4] + '.png'}}"></td>
                    <td><img class="icon" src="{{'assets/images/材料/' + charRssGroup[5] + '.png'}}"></td>
                </tr>
                <tr>
                    <td>{{rss[4]}}</td>
                    <td>{{rss[5]}}</td>
                    <td>{{rss[5]}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-5 col-md-4 col-xl-3 text-center">
        <h4 class="my-3">{{char}} - {{id}}</h4>
        <div class="bg-dark p-2">
        <img class="img-fluid" src="{{'assets/images/' + card.type + '.png'}}">
        战力 {{power}} {{card.rarity}}
        </div>
        <img class="img-fluid" src="{{'assets/images/' + char + '/' + id + '-full.png'}}">
    </div>
</div>