/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

#page-container {
    position: relative;
    min-height: 100vh;
  }

#main-container{
    padding-bottom: 2.5rem;
}

footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}


