/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

#page-container {
    position: relative;
    min-height: 100vh;
}

#backgroundImage {
    position: relative;
    left: 0;
    top: 0px;
    max-width: 100vmax;
    opacity: 0.3;
    z-index: -1;
}

#main-container {
    min-height: 100vh;
    background-image: url("assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2.5rem;
    color: white;

}

footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
}

img.icon{
    height: 30px;
    width: 30px;
}
