<div class="row pt-2">
    <div class="col-12 row justify-content-end m-2">
        <div class="bg-dark px-2 py-1">
            <h4>战力 150000</h4>
        </div>
    </div>
    <div class="col-12 row justify-content-around">
        <div class="col-3 col-md-2" *ngFor="let i of userData">
            <a [routerLink]="['/card-value/', i.charName, i.name]" routerLinkActive="active">
                <img class="img-fluid" src="{{'assets/images/' + i.charName + '/' + i.name + '.png'}}">
            </a>
        </div>
        <div class="col-3 col-md-2">
            <a routerLink="/card-selection" routerLinkActive="active">
                <img class="img-fluid" src="assets/images/boxgacha_icon_frame_1.png">
            </a>
        </div>
        
    </div>
</div>