<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="site-navbar">
  <a class="navbar-brand" href="#" routerLink="/" routerLinkActive="active">
    <img id="navbar-img" src="assets/images/NXX-2.png">
  </a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          {{'NAV.HOME' | translate}}
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">
          <mat-icon aria-hidden="false" aria-label="Example calculate icon">calculate</mat-icon>
          {{'NAV.CALCULATOR' | translate}}
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/card-calculator" routerLinkActive="active">{{'NAV.CARD-POWER' |
            translate}}</a>
          <a class="dropdown-item" routerLink="/card-rss-calculator" routerLinkActive="active">{{'NAV.CARD-RSS' |
            translate}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">
          <mat-icon aria-hidden="false" aria-label="Example view_list icon">view_list</mat-icon>
          {{'NAV.INDEX' | translate}}
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/cards" routerLinkActive="active">{{'NAV.CARD-LIST' | translate}}</a>
          <a class="dropdown-item" routerLink="/skills" routerLinkActive="active">{{'NAV.SKILL-LIST' | translate}}</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" routerLink="/vision-history" routerLinkActive="active">{{'NAV.VISION-HISTORY' |
            translate}}</a>
          <a class="dropdown-item" routerLink="/merch-list" routerLinkActive="active">{{'NAV.MERCH-LIST' |
            translate}}</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/other" routerLinkActive="active">
          <mat-icon aria-hidden="false" aria-label="Example info icon">info</mat-icon>
          {{'NAV.OTHER' | translate}}
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">
          <mat-icon aria-hidden="false" aria-label="Example translate icon">translate</mat-icon>
          {{'NAV.LANGUAGE' | translate}}
        </a>
        <div class="dropdown-menu bg-dark text-white" aria-labelledby="navbarDropdown">
          <form id="language-form">
            <fieldset id="language">
              <label><input type="radio" [(ngModel)]="language" value="zh" (ngModelChange)="changeLanguage()"
                  name="language">中文</label><br />
              <label><input type="radio" [(ngModel)]="language" value="en" (ngModelChange)="changeLanguage()"
                  name="language">English</label>
            </fieldset>
          </form>
        </div>
      </li>
    </ul>
  </div>
</nav>