<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#" routerLink="/" routerLinkActive="active">
    <img src="assets/images/NXX-2.png">
  </a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">主页</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/card-calculator" routerLinkActive="active">战力计算器</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">资料索引</a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/cards" routerLinkActive="active">思绪列表</a>
          <a class="dropdown-item" routerLink="/skills" routerLinkActive="active">技能列表</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" routerLink="/card-pool-history" routerLinkActive="active">往期女神之影</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/other" routerLinkActive="active">其他</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">语言</a>
        <div class="dropdown-menu bg-dark text-white" aria-labelledby="navbarDropdown">
          <form>
            <fieldset id="language">
              <label><input type="radio" [(ngModel)]="language" value="CN" (ngModelChange)="changeLanguage()" name="language">中文</label><br/>
              <label><input type="radio" [(ngModel)]="language" value="EN" (ngModelChange)="changeLanguage()" name="language">English</label>
            </fieldset>
          </form>
        </div>
      </li> -->
    </ul>
  </div>
</nav>